.aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.aside-header {
  margin-bottom: 1em;
  position: relative;
  height: var(--navbar-height);
  background-color: var(--color-yellow);
  border-right: 1px solid var(--color-light-secondary);
}

.sidebar-container .sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-lg);
  background-color: var(--color-dark-secondary);
  min-height: 100vh;
}

.aside__home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1045px) {
  .sidebar-container .sidebar {
    display: none;
  }
}

.aside__logo {
  height: calc(var(--navbar-height));
}

.aside__title {
  font-size: 1.4rem;
  color: var(--color-light-secondary)
}

@media (max-width: 230px) {
  .aside__title {
    display: none;
  }
}