.dropDown {}

.dropDown__button {
  border-radius: 0;
  text-align: left;
}

.dropDown__button {
  background-color: inherit;
  color: inherit;
  border: none;
}

.dropDown__button:hover {
  background-color: var(--color-yellow);
}

.dropDown__button[aria-expanded='true'] {
  background-color: var(--color-main);
  color: white;
}

.dropDown .card.card-body {
  padding: 0;
}

.dropDown__item {
  width: 100%;
  border-radius: 0;
  text-align: left;
}

.dropDown__item:hover {
  background-color: var(--color-yellow);
  color: white;
}