/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root {
  --color-yellow: #ffd21f;
  --color-dark: #202124;
  --color-dark-secondary: #E2E3E5;
  --color-white: #ffffff;
  --color-brown: #6B0314;
}

* {
  font-family: 'Roboto', sans-serif;
}

.btn i {
  margin-right: .4rem;
}

body {
  background-color: var(--color-dark);
  color: black;
}

i {
  color: var(--color-yellow);
}

.navbar {
  background-color: var(--color-yellow) !important;
}

.help {
  border: none;
  padding: 0;
  margin: 0;
  color: white !important;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: blue !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .3rem;
}

.accordion-body>.row {
  margin-bottom: 1em;
}

.results .btn-primary {
  padding: .3rem;
}

.results .btn-primary i {
  font-size: .8rem;
}

#app .navbar+.container {
  min-height: 82vh;
}

.navbar {
  height: 10vh;
}

.footer {
  min-height: 6vh;
}

.centrado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.btn i {
  color: white;
}

.button-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1em;
}

.page-title {
  color: white;
}

.filter-container,
.results-container {
  margin-bottom: 1em;
}

.bg-dark-secondary {
  background-color: var(--color-dark-secondary);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.table {
  margin: 0;
}

.table>thead>*>* {
  background-color: var(--color-yellow);
}

.accordion-header,
.accordion-button {
  background-color: var(--color-yellow);
}

.accordion-item {
  background-color: var(--color-dark-secondary);
}