/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.btn i {
  margin-right: .4rem;
}

.help {
  border: none;
  padding: 0;
  margin: 0;
  color: white !important;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: blue !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .3rem;
}

.accordion-body>.row {
  margin-bottom: 1em;
}

.results .btn-primary {
  padding: .3rem;
}

.results .btn-primary i {
  font-size: .8rem;
}

#app .navbar+.container {
  min-height: 83vh;
}

.navbar {
  height: 10vh;
}

.footer {
  min-height: 7vh;
}

.centrado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}