.page-link--selected {
  background-color: lightgray;
}

.page-link--selected:hover button {
  background-color: none;
}

.itemPagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemPagination .d-flex.align-items-center {
  gap: .5rem;
}