.lateralCard {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 1em;
}

.lateralCard__img {
  width: 25%;
  aspect-ratio: 1/1;
  order: 1;
}

.lateralCard__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  order: 2;
}

.lateralCard__img.right {
  order: 3;
}