:root {
  --sidebar-lg: 15em;
  --sidebar-sm: 10em;
  --sidebar-xs: 100vw;
}

.content {
  width: 100%;
  position: relative;
  /* z-index: 0; */
}

.menu-container.has-menu {
  display: grid;
  grid-template-columns: minmax(0px, var(--sidebar-lg)) 1fr;
}

.sidebar-container .sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-lg);
  padding: .875rem 1.25rem;
  background-color: blue;
  min-height: 100vh;
}

#menu-offcanvas {
  display: none;
}

@media (max-width: 1045px) {
  .offcanvas.offcanvas-start.show {
    width: var(--sidebar-lg);
  }

  .menu-container.has-menu {
    display: flex;
    flex-flow: row nowrap;
  }

  .sidebar-container .sidebar {
    display: none;
  }

  #menu-offcanvas {
    display: block;
  }
}

@media (max-width: 277px) {
  .offcanvas.offcanvas-start.show {
    width: 100vw;
  }
}