.accordion-button:not(.collapsed) {
  background-color: inherit;
}

.accordion-button .productCreate__image {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.productCreate__h1 {
  display: block;
  margin-right: 1rem;
}

.productCreate__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.productCreate__header>* {
  margin-right: .5rem;
}

@media (max-width: 320px) {
  .accordion-button .productCreate__image {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 182px) {
  .accordion-button .productCreate__image {
    display: none;
  }
}